.splash{
    height: 100vh;
    width: 100%;
    background-image: url('../../../assets/img/Start/logoApplergicFigurasGiro.png');
    background-repeat: no-repeat;  
    background-size: unset;
    background-position-x: center;
    overflow-y: hidden;
    h1{
        color: black;
      
    }
}
a{
    text-decoration: none;
}