.photo {
    margin: 10px auto;
    border: rgb(38, 199, 220) solid 3px;
    border-radius: 50%;
    width: 130px;
}

.photo__text {
    font-size: 10px;
    color: rgb(38, 199, 220);
    font-weight: bold;
}

